<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <a href="https://www.linkedin.com/in/rosa-ghazal-52870748/" class="fa fa-linkedin"></a>
    <a href="https://www.instagram.com/ghazalmusic/" class="fa fa-instagram"></a>
    <a href="https://www.facebook.com/Ghazaal.mosadeghi" class="fa fa-facebook"></a>
    <a href="https://twitter.com/GhazalMosadeghi" class="fa fa-twitter"></a>
    <!-- <p> <%= contactContent %> </p> -->
<%- include("partials/footer"); -%>
